income/WSCommonTypes10.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://WSCommonTypes10.CS.ws.alfabank.ru" xmlns:wsct="http://WSCommonTypes10.CS.ws.alfabank.ru" xmlns:xsd="http://www.w3.org/2001/XMLSchema">

	<!-- ?????? -->
	<xsd:complexType name="WSExtention">
		<xsd:sequence>
			<xsd:element minOccurs="1" name="name" type="xsd:string"/>
			<xsd:element minOccurs="1" name="value" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>

	<!-- ?????? -->
	<xsd:element name="WSVerificationException">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="errorCode" type="xsd:string"/>
				<xsd:element name="errorString" type="xsd:string"/>
				<xsd:element name="errorTrace" type="xsd:string"/>
				<xsd:element maxOccurs="unbounded" name="errorExt" type="wsct:WSExtention"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="WSTechnicalException">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="errorCode" type="xsd:string"/>
				<xsd:element name="errorString" type="xsd:string"/>
				<xsd:element name="errorTrace" type="xsd:string"/>
				<xsd:element maxOccurs="unbounded" name="errorExt" type="wsct:WSExtention"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="WSAccessException">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="errorCode" type="xsd:string"/>
				<xsd:element name="errorString" type="xsd:string"/>
				<xsd:element name="errorTrace" type="xsd:string"/>
				<xsd:element maxOccurs="unbounded" name="errorExt" type="wsct:WSExtention"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="WSAppException">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="errorCode" type="xsd:string"/>
				<xsd:element name="errorString" type="xsd:string"/>
				<xsd:element name="errorTrace" type="xsd:string"/>
				<xsd:element maxOccurs="unbounded" name="errorExt" type="wsct:WSExtention"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="WSAppTechnicalException">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="errorCode" type="xsd:string"/>
				<xsd:element name="errorString" type="xsd:string"/>
				<xsd:element name="errorTrace" type="xsd:string"/>
				<xsd:element maxOccurs="unbounded" name="errorExt" type="wsct:WSExtention"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<!-- ?????? -->
	<xsd:complexType name="WSCommonParms">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="userID" type="wsct:WSTypeChar4"/> <!-- userID for 'server' system, for EQ equal EQ user profile  -->
			<xsd:element minOccurs="0" name="branchNumber" type="wsct:WSTypeChar4"/>
			
			<xsd:element name="externalSystemCode" nillable="false" type="wsct:WSTypeChar10"/>	<!-- ID code for external client (for GBA = "GBA") -->
			<xsd:element name="externalUserCode" nillable="false" type="wsct:WSTypeChar30"/>  <!-- code for client identification (uses only in log, may be or not eqval to userID) -->

			<xsd:element minOccurs="0" name="ldapUser" type="xsd:string"/>
			<xsd:element minOccurs="0" name="ldapPassword" type="xsd:string"/>

			<xsd:element maxOccurs="unbounded" name="inCommonParmsExt" type="wsct:WSExtention"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<!-- ?????? -->
	<xsd:complexType name="WSCommonOutParms">
		<xsd:sequence>
			<xsd:element maxOccurs="unbounded" name="outCommonParmsExt" type="wsct:WSExtention"/>
			<xsd:element minOccurs="0" name="dummy" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>

	<!-- ?????? -->
	<xsd:simpleType name="WSTypeChar1">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="1"/>
    </xsd:restriction>
  </xsd:simpleType>
	<xsd:simpleType name="WSTypeChar2">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="2"/>
    </xsd:restriction>
  </xsd:simpleType>
	<xsd:simpleType name="WSTypeChar3">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="3"/>
    </xsd:restriction>
  </xsd:simpleType>
	<xsd:simpleType name="WSTypeChar4">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="4"/>
    </xsd:restriction>
  </xsd:simpleType>
	<xsd:simpleType name="WSTypeChar5">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="5"/>
    </xsd:restriction>
  </xsd:simpleType>
	<xsd:simpleType name="WSTypeChar6">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="6"/>
    </xsd:restriction>
  </xsd:simpleType>
	<xsd:simpleType name="WSTypeChar7">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="7"/>
    </xsd:restriction>
  </xsd:simpleType>
	<xsd:simpleType name="WSTypeChar8">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="8"/>
    </xsd:restriction>
  </xsd:simpleType>
	<xsd:simpleType name="WSTypeChar9">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="9"/>
    </xsd:restriction>
  </xsd:simpleType>
	<xsd:simpleType name="WSTypeChar10">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="10"/>
    </xsd:restriction>
  </xsd:simpleType>
	<xsd:simpleType name="WSTypeChar11">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="11"/>
    </xsd:restriction>
  </xsd:simpleType>
	<xsd:simpleType name="WSTypeChar12">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="12"/>
    </xsd:restriction>
  </xsd:simpleType>
	<xsd:simpleType name="WSTypeChar13">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="13"/>
    </xsd:restriction>
  </xsd:simpleType>
	<xsd:simpleType name="WSTypeChar15">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="15"/>
    </xsd:restriction>
  </xsd:simpleType>
	<xsd:simpleType name="WSTypeChar16">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="16"/>
    </xsd:restriction>
  </xsd:simpleType>
	<xsd:simpleType name="WSTypeChar18">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="18"/>
    </xsd:restriction>
  </xsd:simpleType>
	<xsd:simpleType name="WSTypeChar19">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="19"/>
    </xsd:restriction>
  </xsd:simpleType>
	<xsd:simpleType name="WSTypeChar20">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="20"/>
    </xsd:restriction>
  </xsd:simpleType>
	<xsd:simpleType name="WSTypeChar22">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="22"/>
    </xsd:restriction>
  </xsd:simpleType>
	<xsd:simpleType name="WSTypeChar24">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="24"/>
    </xsd:restriction>
  </xsd:simpleType>
	<xsd:simpleType name="WSTypeChar26">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="26"/>
    </xsd:restriction>
  </xsd:simpleType>
	<xsd:simpleType name="WSTypeChar30">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="30"/>
    </xsd:restriction>
  </xsd:simpleType>
	<xsd:simpleType name="WSTypeChar31">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="31"/>
    </xsd:restriction>
  </xsd:simpleType>
	<xsd:simpleType name="WSTypeChar32">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="32"/>
    </xsd:restriction>
  </xsd:simpleType>
	<xsd:simpleType name="WSTypeChar34">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="35"/>
    </xsd:restriction>
  </xsd:simpleType>
	<xsd:simpleType name="WSTypeChar35">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="35"/>
    </xsd:restriction>
  </xsd:simpleType>
	<xsd:simpleType name="WSTypeChar37">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="37"/>
    </xsd:restriction>
  </xsd:simpleType>
	<xsd:simpleType name="WSTypeChar45">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="45"/>
    </xsd:restriction>
  </xsd:simpleType>
	<xsd:simpleType name="WSTypeChar50">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="50"/>
    </xsd:restriction>
  </xsd:simpleType>
	<xsd:simpleType name="WSTypeChar58">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="58"/>
    </xsd:restriction>
  </xsd:simpleType>
	<xsd:simpleType name="WSTypeChar60">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="35"/>
    </xsd:restriction>
  </xsd:simpleType>
	<xsd:simpleType name="WSTypeChar64">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="64"/>
    </xsd:restriction>
  </xsd:simpleType>
	<xsd:simpleType name="WSTypeChar70">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="70"/>
    </xsd:restriction>
  </xsd:simpleType>
	<xsd:simpleType name="WSTypeChar75">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="75"/>
    </xsd:restriction>
  </xsd:simpleType>
	<xsd:simpleType name="WSTypeChar80">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="80"/>
    </xsd:restriction>
  </xsd:simpleType>
	<xsd:simpleType name="WSTypeChar100">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="100"/>
    </xsd:restriction>
  </xsd:simpleType>
	<xsd:simpleType name="WSTypeChar105">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="105"/>
    </xsd:restriction>
  </xsd:simpleType>
	<xsd:simpleType name="WSTypeChar128">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="128"/>
    </xsd:restriction>
  </xsd:simpleType>
	<xsd:simpleType name="WSTypeChar140">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="140"/>
    </xsd:restriction>
  </xsd:simpleType>
	<xsd:simpleType name="WSTypeChar150">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="35"/>
    </xsd:restriction>
  </xsd:simpleType>
	<xsd:simpleType name="WSTypeChar160">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="160"/>
    </xsd:restriction>
  </xsd:simpleType>
	<xsd:simpleType name="WSTypeChar175">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="175"/>
    </xsd:restriction>
  </xsd:simpleType>
	<xsd:simpleType name="WSTypeChar210">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="210"/>
    </xsd:restriction>
  </xsd:simpleType>
	<xsd:simpleType name="WSTypeChar250">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="250"/>
    </xsd:restriction>
  </xsd:simpleType>
	<xsd:simpleType name="WSTypeChar255">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="255"/>
    </xsd:restriction>
  </xsd:simpleType>
	<xsd:simpleType name="WSTypeChar500">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="35"/>
    </xsd:restriction>
  </xsd:simpleType>
	<xsd:simpleType name="WSTypeChar2048">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="2048"/>
    </xsd:restriction>
  </xsd:simpleType>

	<xsd:simpleType name="WSTypeInt2">
    <xsd:restriction base="xsd:short"/>
  </xsd:simpleType>
	<xsd:simpleType name="WSTypeInt4">
    <xsd:restriction base="xsd:int"/>
  </xsd:simpleType>

	<xsd:simpleType name="WSTypeDecimal10">
    <xsd:restriction base="xsd:decimal">
      <xsd:totalDigits value="1"/>
      <xsd:fractionDigits value="0"/>
    </xsd:restriction>
  </xsd:simpleType>	
	<xsd:simpleType name="WSTypeDecimal20">
    <xsd:restriction base="xsd:decimal">
      <xsd:totalDigits value="2"/>
      <xsd:fractionDigits value="0"/>
    </xsd:restriction>
  </xsd:simpleType>
	<xsd:simpleType name="WSTypeDecimal30">
    <xsd:restriction base="xsd:decimal">
      <xsd:totalDigits value="3"/>
      <xsd:fractionDigits value="0"/>
    </xsd:restriction>
  </xsd:simpleType>
	<xsd:simpleType name="WSTypeDecimal40">
    <xsd:restriction base="xsd:decimal">
      <xsd:totalDigits value="4"/>
      <xsd:fractionDigits value="0"/>
    </xsd:restriction>
  </xsd:simpleType>
	<xsd:simpleType name="WSTypeDecimal50">
    <xsd:restriction base="xsd:decimal">
      <xsd:totalDigits value="5"/>
      <xsd:fractionDigits value="0"/>
    </xsd:restriction>
  </xsd:simpleType>
	<xsd:simpleType name="WSTypeDecimal60">
    <xsd:restriction base="xsd:decimal">
      <xsd:totalDigits value="6"/>
      <xsd:fractionDigits value="0"/>
    </xsd:restriction>
  </xsd:simpleType>
	<xsd:simpleType name="WSTypeDecimal70">
    <xsd:restriction base="xsd:decimal">
      <xsd:totalDigits value="7"/>
      <xsd:fractionDigits value="0"/>
    </xsd:restriction>
  </xsd:simpleType>
	<xsd:simpleType name="WSTypeDecimal80">
    <xsd:restriction base="xsd:decimal">
      <xsd:totalDigits value="8"/>
      <xsd:fractionDigits value="0"/>
    </xsd:restriction>
  </xsd:simpleType>
	<xsd:simpleType name="WSTypeDecimal100">
    <xsd:restriction base="xsd:decimal">
      <xsd:totalDigits value="10"/>
      <xsd:fractionDigits value="0"/>
    </xsd:restriction>
  </xsd:simpleType>
	<xsd:simpleType name="WSTypeDecimal117">
    <xsd:restriction base="xsd:decimal">
      <xsd:totalDigits value="11"/>
      <xsd:fractionDigits value="7"/>
    </xsd:restriction>
  </xsd:simpleType>
	<xsd:simpleType name="WSTypeDecimal137">
    <xsd:restriction base="xsd:decimal">
      <xsd:totalDigits value="13"/>
      <xsd:fractionDigits value="7"/>
    </xsd:restriction>
  </xsd:simpleType>
	<xsd:simpleType name="WSTypeDecimal147">
    <xsd:restriction base="xsd:decimal">
      <xsd:totalDigits value="14"/>
      <xsd:fractionDigits value="7"/>
    </xsd:restriction>
  </xsd:simpleType>
	<xsd:simpleType name="WSTypeDecimal150">
    <xsd:restriction base="xsd:decimal">
      <xsd:totalDigits value="15"/>
      <xsd:fractionDigits value="0"/>
    </xsd:restriction>
  </xsd:simpleType>
	<xsd:simpleType name="WSTypeDecimal152">
    <xsd:restriction base="xsd:decimal">
      <xsd:totalDigits value="15"/>
      <xsd:fractionDigits value="2"/>
    </xsd:restriction>
  </xsd:simpleType>
	<xsd:simpleType name="WSTypeDecimal159">
    <xsd:restriction base="xsd:decimal">
      <xsd:totalDigits value="15"/>
      <xsd:fractionDigits value="9"/>
    </xsd:restriction>
  </xsd:simpleType>
	<xsd:simpleType name="WSTypeDecimal160">
    <xsd:restriction base="xsd:decimal">
      <xsd:totalDigits value="16"/>
      <xsd:fractionDigits value="0"/>
    </xsd:restriction>
  </xsd:simpleType>
	<xsd:simpleType name="WSTypeDecimal180">
    <xsd:restriction base="xsd:decimal">
      <xsd:totalDigits value="18"/>
      <xsd:fractionDigits value="0"/>
    </xsd:restriction>
  </xsd:simpleType>

	<xsd:simpleType name="WSTypeDate">
		<xsd:restriction base="xsd:date">
			<xsd:pattern value="[0-9]{4}-[0-9]{2}-[0-9]{2}"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="WSTypeTime8">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="6"/>
			<xsd:pattern value="[0-9]{2}:[0-9]{2}:[0-9]{2}"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="WSTypeDateTime">
		<xsd:restriction base="xsd:dateTime">
			<xsd:pattern value="[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="WSTypeUID38">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="\{[0-9A-F]{8}-[0-9A-F]{4}-[0-9A-F]{4}-[0-9A-F]{4}-[0-9A-F]{12}\}"/>
		</xsd:restriction>
	</xsd:simpleType>


</xsd:schema>